#Django
DJANGO_SECRET_KEY=mete-aqui-uma-chave-secreta
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

#Base de dados MySQL
DB_ENGINE=django.db.backends.mysql
DB_NAME=devlibrary_db
DB_USER=devlibrary_user
DB_PASSWORD=mete-aqui-uma-password
DB_HOST=db
DB_PORT=3306

#Credenciais do servidor MySQL
MYSQL_ROOT_PASSWORD=mete-aqui-uma-password-root
MYSQL_DATABASE=devlibrary_db
MYSQL_USER=devlibrary_user
MYSQL_PASSWORD=mete-aqui-uma-password